@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background: #f0f0ec;
  height: auto;
  width: 100%;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

main {
  margin-top: 64px;
  flex-grow: 1;
  width: 100%;
  padding-top: 1rem;
}